* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Banner Section */

.banner-pic {
    width: 1600px;
    height: 808px;
}

.banner {}

.banner-text {
    text-align: right;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -40%);

}

.banner-text h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 25px;
    color: white;
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    color: white;
}

/* Button primary [white colour */

.btn-primary {
    background-color: rgb(236, 241, 246);
    border-radius: 5px;
    padding: 18px 35px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}