* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/* Banner Section */

.banner-pic {
    width: 1600px;
    height: 808px;
}

.banner {
    position: relative;
    margin-bottom: 130px;
}

.banner-text {
    text-align: right;
    position: absolute;
    bottom: 165px;
    right: 230px;

}

.banner-text h1 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    margin-bottom: 25px;
    color: white;
}

.banner-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 30px;
    color: white;
}

/* Button primary [white colour */

.btn-primary {
    background-color: rgb(236, 241, 246);
    border-radius: 5px;
    padding: 18px 35px;
    color: #005FAC;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}

/* Banner Section Done */


/* Start - My failures of previous year */
.previous-year {
    display: flex;
    justify-content: center;
    gap: 90px;
    max-width: 1072px;
    margin: 50px auto;
    align-items: center;
    margin-bottom: 130px;
}

.previous-year-text {
    margin-top: 100px;
}

.previous-year-text h2 {
    color: #151414;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 25px;
}

.previous-year-text p {
    color: #444343;
    line-height: 26px;
    margin-bottom: 16px;
}

.previous-year-text ul {
    line-height: 26px;
    color: #444343;
}

/* Done - My failures of previous year */